
.card {
    /* background-color: rgba(52, 163, 181, 0.821);  */

    background-color: #ccc8c0; 
    background-size: cover; 
    background-position: center;
  }

  .btn-primary {
    background-color: #5365b2;
    margin-right: 5px;
  }
  
  
  .btn-info {
    background-color: #498d51; 
    color: #fff; 
    margin-right: 5px;
  }