/* .card {
    

    background-color: #ccc8c0; 
    background-size: cover; 
    background-position: center;
  }

  .btn-primary {
    background-color: #5365b2;
    margin-right: 5px;
  }
  
  
  .btn-info {
    background-color: #498d51; 
    color: #fff; 
    margin-right: 5px;
  } */